{% assign contentful = site.data.contentful.spaces.content %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ page.seo_description }}"/>
    <meta name="ahrefs-site-verification" content="a45cb6893450d90af781316e568f6320bf95201d8106dbbc665318f11a67f0f2">

    <link rel="stylesheet" href="https://use.typekit.net/bpt7dml.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="icon" href="/img/favicon.png?v=3">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121113321-2"></script>
<script>
 window.dataLayer = window.dataLayer || [];
 function gtag(){dataLayer.push(arguments);}
 gtag('js', new Date());

 gtag('config', 'UA-121113321-2');
</script>

    <title>{{ page.title }} | {{ site.title }}</title>
    <script type="text/javascript" src="//cdn.callrail.com/companies/201429118/c3b413ba4d5cd2be1243/12/swap.js"></script> 
  </head>

  <body class="has-hero">
    <div class="page-wrapper">
      {% include header.html contentful=contentful page=page logo="white" %}
      <main>
        {% for section in page.page_sections %}
          {% include section.html section=section %}
        {% endfor %}
      </main>
      {% include footer.html contentful=contentful %}
    </div>
  </body>
</html>
